.container {
  width: 40%;
  margin: 4rem auto;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: aqua;
  -webkit-box-shadow: 7px 7px 9px 0px rgba(50, 50, 50, 0.52);
  -moz-box-shadow:    7px 7px 9px 0px rgba(50, 50, 50, 0.52);
  box-shadow:         7px 7px 9px 0px rgba(50, 50, 50, 0.52);
}

div input {
  width: 70%;
}